<div class="row">
    <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Register
      </div>
      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control"
              formControlName="userName"
              >
              <span *ngIf="!f['userName'].valid && f['userName'].touched"
              class="error-block">
                Please provide name
              </span>
          </div>
  
          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email">
            <span *ngIf="!f['email'].valid && f['email'].touched" class="error-block">
              <span *ngIf="f['email'].hasError('required')">
                  Please provide email id
              </span>
              <span *ngIf="f['email'].hasError('email')">
                Please provide valid email id
              </span>
            </span>
          </div>
  
          <div class="form-group col-12">
            <label for="passwrod" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
            <span *ngIf="!f['password'].valid && f['password'].touched" class="error-block">
              <span *ngIf="f['password'].errors?.['required']">
                Please provide password
              </span>
              <span *ngIf="f['password'].errors?.['minlength']">
                Password should not be lesser than 8 character
              </span>
            </span>
          </div>
  
          <div class="form-group col-12">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword">
            <span  *ngIf="!f['confirmPassword'].valid && f['confirmPassword'].touched">
              <span *ngIf="f['confirmPassword'].hasError('required')">
                Please confirm password
              </span>
            </span>
              <span *ngIf="registrationForm.hasError('notmatched') && f['confirmPassword'].valid">
                Password not matched
              </span>
          </div>
  
          <div class="form-group col-12">
            <label for="mobile" class="form-label">Mobile</label>
            <input type="text" class="form-control" formControlName="mobile">
          </div>
  
          <div class="form-group col-12">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" (click)="onReset()" class="btn btn-secondary ml-2">Reset</button>
          </div>
          Form Values: {{registrationForm.value | json}} <br/>
          Form Status: {{registrationForm.valid}}
        </form>
      </div>
    </div>
    </div>
  </div>
  